.*

/benchmark/
/benchmarks/
*.bench.js
*.bench.js.map

/coverage/

/docs/

/examples/
example.js
example.js.map
*.example.js
*.example.js.map

/fixture/
/fixtures/
*.fixture.js
*.fixture.js.map
*.fixtures.js
*.fixtures.js.map

/src/

/test/
/tests/
*.spec.js
*.spec.js.map

__snapshots__/
